.video-container {
    width: 100%;
    height: 100vh ;
    overflow: hidden;
    border-radius: 8px; 
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    background-color: #0B7077;
    /* position: relative; */
  }

  .video-container h2{
    position: relative;
    top: 16%;
    left: 10%;
  }
 

  iframe{
    position: relative;
    top: 20%;
    left: 10%;
    border-radius: 15px;
  }
  
  .content-section {
    padding: 20px;
    background-color: #f8f9fa; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%;
    height: 502px;
    position: relative;
    margin-top: 0%;
}
  
  .content-section h3 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .content-section p {
    color: #555;
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .content-section {
      text-align: center; 
    }
  }
  