.banner-container {
  background-image: url('../assets/images/Rectangle.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  height: 898px; 
  width: 95%; 
  display: flex; 
  align-items: center; 
  margin: 40px auto; 
  border-radius: 15px;
  padding: 0 20px;
}

.banner-content {
  max-width: 600px; 
  margin-right: 20px;
}

.banner-button {
  width: 160px; 
  height: 45px; 
  margin-top: 20px;
}

.form-container {
  max-width: 400px;
}

@media (max-width: 768px) {
  .banner-container {
    height: auto; 
    flex-direction: column; 
    padding: 20px;
  }

  .banner-content {
    margin-right: 0; 
    margin-bottom: 20px; 
  }

  .form-container {
    max-width: 100%; 
    display: none;
  }
}
