.responsive-section {
    height: 95vh;
    width: 100%; 
    margin-bottom: 30px;
  }
  
  .section-header {
    font-size: 2rem;
    font-weight: bold;
    color: #333; 
  }
  
  .section-content {
    font-size: 1.2rem;
    color: #555;
  }
  
  .section-image {
    max-height: 100%; 
    max-width: 100%;
    height: 819px;
    width: 866px;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .responsive-section {
      height: auto; 
    }
  
    .section-header {
      font-size: 1.5rem;
    }
  
    .section-content {
      font-size: 1rem; 
    }
  }
  .dots-container {
    position: absolute;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%); 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: auto; 
  }
  
  .dot {
    width: 1vw;
    height: 1vw;
    background-color: gray; 
    border-radius: 50%;
    margin: 0 0.5vw;
    transition: all 0.3s ease; 
  }
  
  .big-dot {
    width: 1.5vw;
    height: 1.5vw;
    background-color: #FD661F; 
  }
  
  @media (max-width: 768px) {
    .dot {
      width: 3vw; 
      height: 3vw;
      margin: 0 1vw; 
    }
    .big-dot {
      width: 4vw; 
      height: 4vw;
    }
  }
  
  @media (max-width: 480px) {
    .dot {
      width: 4vw; 
      height: 4vw;
      margin: 0 1.5vw;
    }
    .big-dot {
      width: 5vw; 
      height: 5vw;
    }
  }
  